$namespace: 'am' !default;
$block-sel: '-' !default;
$element-sel: '__' !default;
$modifier-sel: '--' !default;

@mixin bfc {
    height: 100%;
    overflow: hidden;
}

@mixin b($block) {
    .#{ $namespace + $block-sel + $block } {
        // 差值语法 #{}
        @content; // 内容替换
    }
}

@mixin e($element) {
    $selector: &;

    @at-root {
        #{$selector + $element-sel + $element} {
            @content;
        }
    }
}

@mixin m($modifier) {
    $selector: &;

    @at-root {
        #{$selector + $modifier-sel + $modifier} {
            @content;
        }
    }
}
