
@include b(login) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    background-color: #eee;
    background-image: url('../assets/images/login_bg.svg');
    background-size: auto;
}

@include b(login-left) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/bg-bd839ea3.svg');
    width: 48%;
    height: 100%;
    min-height: 100%;
    background-color: #22325b;
    color: #fff;
    padding: 20px;

    @include e(title) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    @include e(img) {
        height: 36px;
        width: 36px;
        margin-right: 6px;
    }

    @include e(item) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@include b(login-right) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;

    @include e(form) {
        width: 400px;
        padding: 50px 40px 45px;
        background-color: var(--el-bg-color);
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 10%) 0 2px 10px 2px;

        .title {
            padding-bottom: 1rem;
            margin: 0 auto;
            text-align: center;

            span {
                font-size: 24px;
                font-weight: bold;
                color: #34495e;
                white-space: nowrap;
            }
        }

        .btn {
            width: 100%;
        }
    }
}

@include b(table) {
    width: 100%;
    overflow-y: auto;
}

@include b(pagination) {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
